@import url("https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

header {
	width: 100%;
	height: 100px;
	position: fixed;
	top: 0px;
	opacity: 0.9;
	display: flex !important;
	background-color: #571762f0;
	font-family: "Asap Condensed", sans-serif;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	padding: 0px 50px;
	z-index: 20;
}
header div {
	font-size: x-large;
	font-weight: 900;
	text-transform: capitalize;
	letter-spacing: 3px;
	color: white;
}
header svg {
	display: none;
}

nav a {
	color: white;
	text-decoration: none;
	font-size: large;
	font-weight: 600;
	padding: 0px 10px;
}
nav a:hover {
	color: peru;
	cursor: pointer;
	text-decoration: underline;
	animation-duration: 0.6s;
	animation-fill-mode: both;
}

section {
	margin: 150px 10%;
	padding: 100px 0px 0px 0px;
}
#about {
	margin: 100px 0px 0px 0px;
	width: 100%;
	height: 70vh;
	min-height: 600px;
	background: linear-gradient(
		270deg,
		rgba(185, 52, 176, 0.82) 23%,
		rgb(245, 245, 245) 23%
	);
}

#about::before {
	width: 345px;
	height: 475px;
	border: 10px solid #0e08017a;
	border-radius: 50%;
	content: "";
	background-image: url(../images/my-pic-removebg-preview.png);
	background-position: 53% 25%;
	background-repeat: no-repeat;
	position: absolute;

	right: 11%;
	top: 14%;
	background-color: transparent;
	z-index: 2;
	overflow: visible;
}

.myCard {
	padding: 0% 3%;
}
.hiMassage {
	font-size: 25px;
	font-weight: 900;
	text-transform: capitalize;
	font-family: "Asap Condensed", sans-serif;
	padding: 10px 0px;
	letter-spacing: 3px;
}
.myTitle {
	font-size: 50px;
	font-weight: 900;
	text-transform: capitalize;
	font-family: "Asap Condensed", sans-serif;
	padding: 10px 0px;
	letter-spacing: 6px;
}
.myTarget {
	font-size: 35px;
	font-weight: 900;
	text-transform: capitalize;
	font-family: "Asap Condensed", sans-serif;
	padding: 10px 0px;
	letter-spacing: 3px;
}
.nextSection button {
	width: 220px;
	height: 60px;
	margin: 30px 0px;
	text-decoration: none;
	/* cursor: pointer; */
	border-radius: 15px;
	background-color: blue;
	color: white;
}
.nextSection a {
	text-decoration: none;
	font-size: 25px;
	font-weight: 900;
	text-transform: capitalize;
	font-family: "Asap Condensed", sans-serif;
	color: white;
	letter-spacing: 2px;
}
.socialIcon div {
	display: inline-block;
	padding: 10px 0px;
}

#services {
	margin: 80px 00px;
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
	padding: 80px 0px;
}
#services h2 {
	margin: -100px;
	color: #571762f0;
	position: absolute;
	z-index: 10;
	font-size: 48px;
	font-weight: 900;
	text-transform: capitalize;
	font-family: "Asap Condensed", sans-serif;
}
.frontEnd,
.fullStack,
.backEnd {
	width: 20vw;
	min-width: 300px;
	border: 5px solid rgb(148, 147, 147);
	display: inline-block;
	height: auto;
	min-height: 60vh;
	margin: 0px 20px;
	padding: 15px 15px;
}

.frontEndOverlay,
.fullStackOverlay,
.backEndOverlay {
	content: "";
	width: 18vw;
	min-width: 250px;
	height: 40vh;
	z-index: 2;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin: 0px;
	padding: 0px;
}
.frontEndOverlay {
	background-image: url(../images/frontEnd.png);
}
.fullStackOverlay {
	background-image: url(../images/fullStack.png);
}
.backEndOverlay {
	background-image: url(../images/backEnd.png);
}
.frontEndOverlay::after,
.fullStackOverlay::after,
.backEndOverlay::after {
	content: "";
	z-index: 3;
	width: 18vw;
	min-width: 250px;
	height: 40vh;
	background-color: black;
	position: absolute;
	margin: 0px;
	padding: 0px;
	opacity: 0.6;
}
.frontEndOverlay::after {
	clip-path: polygon(0 32%, 32% 76%, 95% 100%, 0% 100%);
}
.fullStackOverlay::after {
	clip-path: polygon(50% 96%, 100% 76%, 100% 100%, 0 100%, 0 77%);
}
.backEndOverlay::after {
	clip-path: polygon(63% 81%, 100% 49%, 100% 100%, 0% 100%);
}

/*  */

.portfolio-menu {
	text-align: center;
}
.portfolio-menu ul li {
	display: inline-block;
	margin: 0;
	list-style: none;
	padding: 10px 15px;
	cursor: pointer;
	-webkit-transition: all 05s ease;
	-moz-transition: all 05s ease;
	-ms-transition: all 05s ease;
	-o-transition: all 05s ease;
	transition: all 0.5s ease;
}

.portfolio-item {
	/*width:100%;*/
}
.portfolio-item .item {
	/*width:303px;*/
	float: left;
	margin-bottom: 10px;
}

/*  */

/* end of project section */

table {
	border: 2px solid black;
	width: 70vw;
	min-width: 350px;
}
th {
	border: 2px solid black;
}
table td {
	border: 2px black;
	border-style: double;
	text-align: center;
	height: 50px;
	font-size: 20px;
	font-weight: 700;
}
table th {
	border: 2px black;
	border-style: double;
	text-align: center;
	font-size: 26px;
	font-weight: 800;
}
table td svg:hover {
	color: #2341b8;
}

/*  */
/*  */
/*  */
/*  */
#pie-chart {
	margin: 10vh;
}

.pie-chart {
	background: radial-gradient(circle closest-side, transparent 90%, white 0),
		conic-gradient(
			#dd0303 0,
			#dd0303 25%,
			#2341b8 0,
			#2341b8 60%,
			#f5e000 0,
			#f5e000 90%,
			#0579f5 0,
			#0579f5 100%
		);
	position: relative;
	width: 100%;
	min-height: 460px;
	margin: 0;
	outline: 1px solid #ccc;
}
.pie-chart h2 {
	position: absolute;
	margin: 1rem;
}
.pie-chart cite {
	position: absolute;
	bottom: 0;
	font-size: 80%;
	padding: 1rem;
	color: gray;
}
.pie-chart figcaption {
	position: absolute;
	bottom: 1em;
	right: 1em;
	font-size: smaller;
	text-align: right;
}
.pie-chart span:after {
	display: inline-block;
	content: "";
	width: 0.8em;
	height: 0.8em;
	margin-left: 0.4em;
	height: 0.8em;
	border-radius: 0.2em;
	background: currentColor;
}

footer {
	display: flex !important;
	background-color: black;
	color: beige;
	padding: 20px 10%;
}
footer h3 {
	position: absolute;
	width: 50%;
	margin: 2% 6%;
	text-transform: capitalize;
	letter-spacing: 3px;
}
footer svg:hover {
	color: #dd0303;
}

@media (max-width: 560px) {
	header {
		width: 100%;

		height: auto;
		position: fixed;
		top: 0px;
		opacity: 0.9;
		display: block !important;
		background-color: #571762f0;
		font-family: "Asap Condensed", sans-serif;
		justify-content: space-between;
		align-content: center;
		align-items: center;
		padding: 0px 0px;
		z-index: 20;
	}
	header svg {
		display: inline-block;
		color: white;
		margin-left: 10%;
		width: 40px !important;
		height: 40px !important ;
		cursor: pointer;
		position: relative;
		right: 0%;
	}
	header div {
		font-size: 26px;
		font-weight: 500;
		text-transform: capitalize;
		letter-spacing: 3px;
		color: white;
		display: inline-block;
		padding: 10px;
	}

	nav a {
		display: none;
		text-align: center;
	}
	nav .active {
		color: white;
		text-decoration: none;
		font-size: 30px;
		font-weight: 600;
		padding: 0px 10px;
		display: block !important;
		text-align: center;
	}
	nav a:hover {
		color: peru;
		cursor: pointer;
		text-decoration: underline;
		animation-duration: 0.6s;
		animation-fill-mode: both;
	}

	section {
		margin: 0px 10%;
		padding: 00px 0px 0px 0px;
	}
	#about {
		margin: 0px 0px 0px 0px;
		padding: 50px;
		width: 100%;
		height: 100vh;
		min-height: 890px;

		background: linear-gradient(
			270deg,
			rgba(185, 52, 176, 0.82) 30%,
			rgb(245, 245, 245) 30%
		);
	}

	#about::before {
		width: 230px;
		height: 330px;

		border: 10px solid #0e08017a;
		border-radius: 50%;
		content: "";
		background-image: url(../images/my-pic-removebg-preview.png);
		background-position: 53% 25%;
		background-repeat: no-repeat;
		position: absolute;

		right: 5%;
		top: 8%;
		background-color: transparent;
		z-index: 2;
		overflow: visible;
	}

	.myCard {
		padding: 10% 3%;
		margin-top: 100%;
	}
	.hiMassage {
		font-size: 20px;
		font-weight: 900;
		text-transform: capitalize;
		font-family: "Asap Condensed", sans-serif;
		padding: 30px 0px;
		letter-spacing: 2px;
		margin-top: 15px;
	}
	.myTitle {
		font-size: 30px;
		font-weight: 900;
		text-transform: capitalize;
		font-family: "Asap Condensed", sans-serif;
		padding: 10px 0px;
		letter-spacing: 5px;
	}
	.myTarget {
		font-size: 25px;
		font-weight: 900;
		text-transform: capitalize;
		font-family: "Asap Condensed", sans-serif;
		padding: 10px 0px;
		letter-spacing: 2px;
	}
	.nextSection button {
		width: 220px;
		height: 60px;
		margin: 30px 0px;
		text-decoration: none;
		/* cursor: pointer; */
		border-radius: 15px;
		background-color: blue;
		color: white;
	}
	.nextSection a {
		text-decoration: none;
		font-size: 25px;
		font-weight: 900;
		text-transform: capitalize;
		font-family: "Asap Condensed", sans-serif;
		color: white;
		letter-spacing: 2px;
	}
	.socialIcon div {
		display: inline-block;
		padding: 10px 0px;
	}
	#skills {
		margin: 0px;
		padding: 0px;
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: center;
		align-items: center;
	}

	table {
		border: 2px solid red;
		width: 60vw;
		/* min-width: 200px; */
		/* margin-left: 5%; */
		margin-bottom: 100px;
	}
	th {
		border: 2px solid red;
	}
	table td {
		border: 2px red;
		border-style: double;
		text-align: center;
		height: 50px;
		font-size: 14px;
		font-weight: 600;
	}
	table th {
		border: 2px red;
		border-style: double;
		text-align: center;
		font-size: 14px;
		font-weight: 600;
	}
	table td svg:hover {
		color: #2341b8;
	}

	footer {
		display: flex !important;
		background-color: black;
		color: beige;
		padding: 10px 2%;
		max-width: 100%;
	}
	footer h3 {
		position: absolute;
		width: 50%;
		margin: 3px 0px 0px 20px;
		text-transform: capitalize;
		letter-spacing: 1px;
		font-size: 14px;
		font-weight: 400;
	}
	footer svg:hover {
		color: #dd0303;
	}
	footer svg {
		width: 28px !important;
		height: 28px !important;
	}
}
